.tiptap {
  width: 100%;
  height: 100%;
  min-height: 480px;
  @media screen and (min-width: 768px) {
    min-height: 0;
  }
  outline: none;
}

.tiptap * {
  margin: 0;
  padding: 0;
  font-size: 15px;
  transition: all 0.3s ease;
}

.tiptap strong {
  font-weight: 600;
}