@import "tailwindcss";

:root {
  --white-1: #ffffff;
  --white-2: #fcfcfe;
  --white-3: #f5f8fd;
  --white-4: #EEF3FC;
  --white-5: #e5e5e5;

  --blue-1: #E6EEFA;
  --blue-2: #347CE9;
  --blue-3: #1b63ce;
  --blue-4: #b6d3ff;

  --black-1: #D0D0D0;
  --black-2: #4C4C4C;
  --black-3: #000000;
  --black-4: #e7e7e7;
  --black-5: #1e1e1e;
  --black-6: #f3f3f3;

  --red-1: #ff6c6c;
  --red-2: #ffe3e3;
  --red-3: #ff9595;
  --red-4: #FF0000;
  --red-5: #ff2424;
  --red-6: #ffbebe;

  --green-1: #00bd00;

  --shadow-1: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

body {
  overflow-x: hidden;
  transition: all 0.2s ease;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

/* Editor */

.tiptap {
  width: 100%;
  height: 100%;
  min-height: 480px;
  @media screen and (min-width: 768px) {
    min-height: 0;
  }
  outline: none;
}

.tiptap * {
  margin: 0;
  padding: 0;
  font-size: 15px;
  transition: all 0.3s ease;
}

.tiptap strong {
  font-weight: 500;
}

.tiptap a {
  color: var(--blue-3);
  text-decoration: underline;
}

.tiptap sub, .tiptap sup {
  font-size: 70%;
}

.tiptap h1 {
  font-size: 2.15rem;
  padding: 10px 0;
  border-bottom: 1px solid var(--blue-1);
  margin-bottom: 10px;
}

.tiptap h2 {
  font-size: 1.8rem;
  padding: 10px 0;
  border-bottom: 1px solid var(--blue-1);
  margin-bottom: 10px;
}

.tiptap h3 {
  font-size: 1.6rem;
  padding: 10px 0;
  border-bottom: 1px solid var(--blue-1);
  margin-bottom: 10px;
}

.tiptap h4 {
  font-size: 1.4rem;
  padding: 10px 0;
  border-bottom: 1px solid var(--blue-1);
  margin-bottom: 10px;
}

.tiptap h5 {
  font-size: 1.25rem;
  padding: 10px 0;
  border-bottom: 1px solid var(--blue-1);
  margin-bottom: 10px;
}

.tiptap h6 {
  font-size: 1.1rem;
  padding: 10px 0;
  border-bottom: 1px solid var(--blue-1);
  margin-bottom: 10px;
}

.tiptap p:has(code) {
  background-color: var(--black-5);
  color: var(--white-5);
  padding: 0 5px;
}

.tiptap ul {
  list-style: disc;
  padding-left: 1.25rem;
  margin: 0.5rem 0;
}

.tiptap ol li {
  margin: 0.25rem 0;
  line-height: 1.55;
}

.tiptap ul li, .tiptap ol li {
  margin: 0.25rem 0;
  line-height: 1.55;
}

.tiptap ol {
  list-style: decimal;
  padding-left: 1.25rem;
  margin: 0.5rem 0;
}

.tiptap ul[data-type="taskList"] {
  list-style: none;
  padding-left: 1.25rem;
  margin: 0.5rem 0;
}

.tiptap ul[data-type="taskList"] > li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 0.25rem 0;
  line-height: 1.55;
}

.tiptap ul[data-type="taskList"] input[type='checkbox'] {
  width: 0.8rem;
  height: 0.8rem;
  margin-top: 0.35rem;
  accent-color: var(--blue-2);
}

.tiptap ul[data-type="taskList"] li[data-checked="true"] div {
  text-decoration: line-through;
  opacity: .6;
}

.tiptap blockquote {
  margin: 0.75rem 0;
  padding-left: 1rem;
  background-color: var(--white-3);
  border-left: 4px solid var(--blue-1);
  border-radius: 5px;
}

.tiptap blockquote p {
  padding: 5px 0;
  color: var(--black-5);
  font-style: italic;
}

.tiptap hr {
  margin: 15px 10px;
  border-color: var(--blue-4);
}

/* Marquee */

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Notification */

.notification-hide {
  opacity: 0;
  width: 56px;
  transition: all 0.2s;
}

.notification-active {
  opacity: 1;
  width: 100%;
  transition: all 0.6s;
}

.notification-deactive {
  opacity: 1;
  width: 56px;
  transition: all 0.6s;
}

/* Loader */

.oFwfioeW {
  animation: loader-animation 1500ms infinite linear;
}

.hwR3gWf {
  animation: loader-animation 1500ms 400ms infinite linear;
}

@keyframes loader-animation {
  0% {
    width: 100%;
  }
  50% {
    width: 75%;
  }
}

.hglVsNd {
  animation: loader-line-animation 1000ms forwards ease-in-out;
}

@keyframes loader-line-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}